
- content_for :head do



  = #javascript_include_tag 'rails'
  = javascript_include_tag 'require'
  = javascript_include_tag 'lib/underscore-min'
  = javascript_include_tag 'lib/mootools-core-1.3.2-full-nocompat-yc'
  = javascript_include_tag 'lib/mootools-more-1.3.2.1.js'
  = javascript_include_tag 'application'


  :javascript
      require({
        paths: {
            "sheet": "/javascripts/sheet/"
        },
      });


  = stylesheet_link_tag "reset"
  = stylesheet_link_tag "sheet"

%body

  #wrapper
    #tabs
      %ul
        %li
          %a{:href => "#tabs-1"}
            Проект

      #tabs-1

  :javascript

    var oldAttach = require.attach;
    require.attach = function (url, contextName, moduleName, callback, type) {
        url += (url.indexOf('?') === -1 ? '?' : '&') + 'bust=' + (new
            Date()).getTime()
        return oldAttach.call(require, url, contextName, moduleName,
            callback, type);
    }

    require(["sheet/start"])

    //$("#tabs").tabs();
